/node_modules
/vendor
/.vscode
/.phpunit.cache
/storage/framework/cache/data/*
/storage/framework/laravel-excel/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/debugbar/*
/storage/logs/*
/storage/app/public/profile-pictures/*
/storage/app/public/inventory-item-photos/*
/public/build/assets/*.js
/public/build/assets/*.css
/public/storage
/public/hot
accounts
.env
